.mainContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    max-width: 890px;
}

.counter {
    font-family: Inter-Reg, serif;
    font-size: 1rem;
    line-height: 1.30rem;
    color: #575E71;
}
