.item {
    border-radius: 12px;
    border: 1px solid #E3E7ED;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.itemImageWrap{
    max-width: 50%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.itemImage {
    width: 90px;
    height: 120px;
    border-radius: 6px;
    object-fit: cover;
}

.itemName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Inter-Reg, serif;
    font-size: 1rem;
    line-height: 1.3rem;
}

.itemPriceWrap {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.itemButton {
    font-family: Inter-Reg, serif;
    font-size: 1rem;
    padding: 0;
    color: #DA1616;
    transition: 0.3s linear;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.itemButton:hover {
    opacity: 0.7;
}

.itemPrice {
    font-family: Inter-SemiBold, serif;
    font-size: 1rem;
    line-height: 1.3rem;
}
