.container {
    padding:  0 18%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.counter {
    font-family: Inter-Reg, serif;
    font-size: 1rem;
    line-height: 1.30rem;
    color: #575E71;
}
